BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF ALLPORTS PULLMODE=UP ;
LOCATE COMP "CK" SITE "143" ;
LOCATE COMP "cont_addr[5]" SITE "122" ;
LOCATE COMP "cont_addr[4]" SITE "121" ;
LOCATE COMP "cont_addr[3]" SITE "120" ;
LOCATE COMP "cont_addr[2]" SITE "119" ;
LOCATE COMP "cont_addr[1]" SITE "117" ;
LOCATE COMP "cont_addr[0]" SITE "115" ;
LOCATE COMP "NCWR" SITE "110" ;
LOCATE COMP "NCDS" SITE "111" ;
LOCATE COMP "ETH" SITE "109" ;
LOCATE COMP "NHWRST" SITE "38" ;
LOCATE COMP "CK" SITE "142" ;
LOCATE COMP "EGRN" SITE "125" ;
LOCATE COMP "EYLW" SITE "126" ;
LOCATE COMP "dac1[7]" SITE "98" ;
LOCATE COMP "dac1[6]" SITE "99" ;
LOCATE COMP "dac1[5]" SITE "100" ;
LOCATE COMP "dac1[4]" SITE "103" ;
LOCATE COMP "dac1[3]" SITE "104" ;
LOCATE COMP "dac1[2]" SITE "105" ;
LOCATE COMP "dac1[1]" SITE "106" ;
LOCATE COMP "dac1[0]" SITE "107" ;
LOCATE COMP "dac2[7]" SITE "1" ;
LOCATE COMP "dac2[6]" SITE "2" ;
LOCATE COMP "dac2[5]" SITE "3" ;
LOCATE COMP "dac2[4]" SITE "4" ;
LOCATE COMP "dac2[3]" SITE "9" ;
LOCATE COMP "dac2[2]" SITE "10" ;
LOCATE COMP "dac2[1]" SITE "11" ;
LOCATE COMP "dac2[0]" SITE "12" ;
LOCATE COMP "att1[0]" SITE "59" ;
LOCATE COMP "att1[1]" SITE "60" ;
LOCATE COMP "att1[2]" SITE "61" ;
LOCATE COMP "att1[3]" SITE "62" ;
LOCATE COMP "att2[0]" SITE "52" ;
LOCATE COMP "att2[1]" SITE "54" ;
LOCATE COMP "att2[2]" SITE "57" ;
LOCATE COMP "att2[3]" SITE "58" ;
LOCATE COMP "rc1[0]" SITE "97" ;
LOCATE COMP "rc1[1]" SITE "96" ;
LOCATE COMP "rc1[2]" SITE "95" ;
LOCATE COMP "rc1[3]" SITE "94" ;
LOCATE COMP "rc1[4]" SITE "87" ;
LOCATE COMP "rc1[5]" SITE "86" ;
LOCATE COMP "rc1[6]" SITE "85" ;
LOCATE COMP "rc1[7]" SITE "84" ;
LOCATE COMP "ON1" SITE "42" ;
LOCATE COMP "ON2" SITE "41" ;
LOCATE COMP "LCONFIG" SITE "45" ;
LOCATE COMP "LRESET" SITE "43" ;
LOCATE COMP "rc2[0]" SITE "21" ;
LOCATE COMP "rc2[1]" SITE "22" ;
LOCATE COMP "rc2[2]" SITE "23" ;
LOCATE COMP "rc2[3]" SITE "24" ;
LOCATE COMP "rc2[4]" SITE "31" ;
LOCATE COMP "rc2[5]" SITE "32" ;
LOCATE COMP "rc2[6]" SITE "33" ;
LOCATE COMP "rc2[7]" SITE "34" ;
LOCATE COMP "LCDS" SITE "47" ;
LOCATE COMP "LETH" SITE "48" ;
LOCATE COMP "cont_data[7]" SITE "141" ;
LOCATE COMP "cont_data[6]" SITE "140" ;
LOCATE COMP "cont_data[5]" SITE "139" ;
LOCATE COMP "cont_data[4]" SITE "138" ;
LOCATE COMP "cont_data[3]" SITE "133" ;
LOCATE COMP "cont_data[2]" SITE "132" ;
LOCATE COMP "cont_data[1]" SITE "128" ;
LOCATE COMP "cont_data[0]" SITE "127" ;
LOCATE COMP "NRCMRST" SITE "112" ;
LOCATE COMP "NCONFIG" SITE "39" ;
