BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
IOBUF PORT "A" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "ACTIV" BANK 0 ;
IOBUF PORT "B" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "C" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "D" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "E" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "F" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "G" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "H" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "K" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "L" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "M" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "O" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "P" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "Q" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "R" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "S" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "T" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "UPLOAD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "ACTIV" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "EMPTY" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "CK" SITE "143" ;
IOBUF PORT "CK" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
IOBUF PORT "V" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "W" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "cont_addr[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_addr[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_addr[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_addr[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_addr[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_addr[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "cont_data[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "EGRN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "EYLW" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CWR_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CDS_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "ETH" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "NOT_RESET" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "DACA_OUT[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACA_OUT[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DACB_OUT[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "I" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "J" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CK1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
FREQUENCY PORT "CK1" 80.000000 MHz ;
IOBUF PORT "NOTHWRESET" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "cont_addr[5]" SITE "122" ;
LOCATE COMP "cont_addr[4]" SITE "121" ;
LOCATE COMP "cont_addr[3]" SITE "120" ;
LOCATE COMP "cont_addr[2]" SITE "119" ;
LOCATE COMP "cont_addr[1]" SITE "117" ;
LOCATE COMP "cont_addr[0]" SITE "115" ;
LOCATE COMP "CWR_in" SITE "110" ;
LOCATE COMP "CDS_in" SITE "111" ;
LOCATE COMP "ETH" SITE "109" ;
LOCATE COMP "NOTHWRESET" SITE "38" ;
LOCATE COMP "CK1" SITE "142" ;
LOCATE COMP "EGRN" SITE "125" ;
LOCATE COMP "EYLW" SITE "126" ;
LOCATE COMP "DACA_OUT[7]" SITE "98" ;
LOCATE COMP "DACA_OUT[6]" SITE "99" ;
LOCATE COMP "DACA_OUT[5]" SITE "100" ;
LOCATE COMP "DACA_OUT[4]" SITE "103" ;
LOCATE COMP "DACA_OUT[3]" SITE "104" ;
LOCATE COMP "DACA_OUT[2]" SITE "105" ;
LOCATE COMP "DACA_OUT[1]" SITE "106" ;
LOCATE COMP "DACA_OUT[0]" SITE "107" ;
LOCATE COMP "DACB_OUT[7]" SITE "1" ;
LOCATE COMP "DACB_OUT[6]" SITE "2" ;
LOCATE COMP "DACB_OUT[5]" SITE "3" ;
LOCATE COMP "DACB_OUT[4]" SITE "4" ;
LOCATE COMP "DACB_OUT[3]" SITE "9" ;
LOCATE COMP "DACB_OUT[2]" SITE "10" ;
LOCATE COMP "DACB_OUT[1]" SITE "11" ;
LOCATE COMP "DACB_OUT[0]" SITE "12" ;
LOCATE COMP "AA" SITE "59" ;
LOCATE COMP "AB" SITE "60" ;
LOCATE COMP "AC" SITE "61" ;
LOCATE COMP "AE" SITE "62" ;
LOCATE COMP "BA" SITE "52" ;
LOCATE COMP "BB" SITE "54" ;
LOCATE COMP "BC" SITE "57" ;
LOCATE COMP "BD" SITE "58" ;
LOCATE COMP "A" SITE "97" ;
LOCATE COMP "B" SITE "96" ;
LOCATE COMP "C" SITE "95" ;
LOCATE COMP "D" SITE "94" ;
LOCATE COMP "E" SITE "87" ;
LOCATE COMP "F" SITE "86" ;
LOCATE COMP "G" SITE "85" ;
LOCATE COMP "H" SITE "84" ;
LOCATE COMP "I" SITE "42" ;
LOCATE COMP "J" SITE "41" ;
LOCATE COMP "K" SITE "45" ;
LOCATE COMP "L" SITE "43" ;
LOCATE COMP "M" SITE "21" ;
LOCATE COMP "N" SITE "22" ;
LOCATE COMP "O" SITE "23" ;
LOCATE COMP "P" SITE "24" ;
LOCATE COMP "Q" SITE "31" ;
LOCATE COMP "R" SITE "32" ;
LOCATE COMP "S" SITE "33" ;
LOCATE COMP "T" SITE "34" ;
LOCATE COMP "V" SITE "47" ;
LOCATE COMP "W" SITE "48" ;
LOCATE COMP "cont_data[7]" SITE "141" ;
LOCATE COMP "cont_data[6]" SITE "140" ;
LOCATE COMP "cont_data[5]" SITE "139" ;
LOCATE COMP "cont_data[4]" SITE "138" ;
LOCATE COMP "cont_data[3]" SITE "133" ;
LOCATE COMP "cont_data[2]" SITE "132" ;
LOCATE COMP "cont_data[1]" SITE "128" ;
LOCATE COMP "cont_data[0]" SITE "127" ;
LOCATE COMP "NOT_RESET" SITE "112" ;
IOBUF PORT "AA" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "AB" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "AC" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "AE" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "BA" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "BB" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "BC" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "BD" IO_TYPE=LVCMOS33 PULLMODE=UP ;
FREQUENCY NET "CK1_c" 80.000000 MHz ;
LOCATE COMP "NCONFIG" SITE "39" ;
IOBUF PORT "NCONFIG" IO_TYPE=LVCMOS33 PULLMODE=UP ;
